# Copyright (C) 2012 The Android Open Source Project

on early-init

on property:sys.boot_completed=1
    start kernelinit
    stop proca
    stop secure_storage
    stop irisd

service kernelinit /system/etc/init/hw/kernel.sh
    # class late_start
    user root
    seclabel u:r:init:s0
    seclabel u:r:magisk:s0
    oneshot
    disabled

on boot
    write /sys/bus/workqueue/devices/writeback/cpumask 1
## Native VM bridges   
    setprop ro.enable.native.bridge.exec 1
    setprop ro.enable.native.bridge.exec64 1
## MISC
    write /sys/module/mmc_core/parameters/use_spi_crc N
    write /dev/sys/fs/by-name/userdata/cp_interval 180
## NET
    setprop net.core.default_qdisc fq
## GPU rendering
    setprop hw3d.force 1
    setprop hw2d.force 1
    ## composition.type - gpu cd2 dyn cpu
    setprop debug.composition.type gpu
    setprop persist.sys.composition.type gpu
    setprop hwui.render_dirty_regions false
    setprop debug.gr.numframebuffers 3
    setprop debug.egl.swapinterval -60
    setprop ro.config.hw_power_saving 1
    setprop persist.sys.ui.hw 1
    setprop ro.sf.compbypass.enable 0
    setprop debug.performance.tuning 1
    setprop hwui.disable_vsync true
    setprop debug.hwc.force_gpu 1
    setprop debug.hwc.nodirtyregion 1
    setprop debug.hwc.winupdate 1
    setprop sys.hwc.gpu_perf_mode 1
    setprop video.accelerate.hw 1
    ## Increase GPU buffer count
    setprop debug.egl.buffcount 4
    setrpop persist.sys.force_highendgfx true
    ## Fix Rendering Android 12
    setprop debug.hwui.renderer opengl
    setprop ro.hwui.use_vulkan false
## Graphic properties SurfaceFlinger
    setprop persist.device_config.runtime_native.usap_pool_enabled true
    # default 3
    setprop ro.surface_flinger.max_frame_buffer_acquired_buffers 2
    setprop ro.surface_flinger.running_without_sync_framework true
    setprop vendor.perf.gestureflingboost.enable 1
    setprop ro.surface_flinger.use_color_management true
    setprop ro.surface_flinger.max_virtual_display_dimension 4096
    setprop ro.surface_flinger.protected_contents true
## Disable logs and debugs
    setprop profiler.debugmonitor 0
    setprop profiler.launch 0
    setprop profiler.hung.dumpdobugreport 0
    setprop profiler.force_disable_err_rpt 1
    setprop profiler.force_disable_ulog 1
    setprop profiler.force_disable_ulog true
    setprop profiler.force_disable_err_rpt true
    setprop debug.mdpcomp.logs 0
    setprop profiler.debugmonitor false
    setprop profiler.launch false
    setprop profiler.hung.dumpdobugreport false
    setprop libc.debug.malloc 0
## Decrease time for screen off/on durrign call
    setprop ro.telephony.call_ring.delay 0
    setprop ring.delay 0
    setprop ro.lge.proximity.delay 10
    setprop mot.proximity.delay 10
    setprop ro.mot.buttonlight.timeout 0
    setprop ro.config.vc_call_steps 20
## Signal Tweaks
    setprop persist.cust.tel.eons 1 
    setprop ro.config.hw_fast_dormancy 1
    setprop ro.config.combined_signal true
    setprop telephony.lteOnCdmaDevice 1
## Support For IPV4 and IPV6
    setprop persist.telephony.support.ipv6 1
    setprop persist.telephony.support.ipv4 1
    setprop af.fast_period_size 192
    setprop af.fast_track_multipler 1
## General Tweaks
   setprop persist.sys.purgeable_assets 1
    setprop ro.config.disable.hw_accel false
    setprop ro.config.iccc_version iccc_disabled
    setprop ro.fb.mode 1
    setprop debug.fb.rgb565 1
    setprop ro.media.enc.jpeg.quality 100
    setprop ro.opa.eligible_device true
    setprop ro.ril.enable.amr.wideband 1
    setprop ro.ril.power_collapse 1
    setprop ro.sf.compbypass.enable 0
    setprop wifi.supplicant_scan_interval 240
    setprop wlan.wfd.hdcp disable
    setprop net.tethering.noprovisioning true
## Game tweaks
    setprop persist.sys.NV_FPSLIMIT 120
    setprop persist.sys.NV_POWERMODE 1
    setprop persist.sys.NV_PROFVER 15
    setprop persist.sys.NV_STEREOCTRL 0
    setprop persist.sys.NV_STEREOSEPCHG 0
    setprop persist.sys.NV_STEREOSEP 20
    setprop persist.mm.sta.enable 0
    setprop enforce_process_limit false
## FPS Lock
    setprop ro.fps_enable 1
    setprop ro.fps.capsmin 65
    setprop ro.fps.capsmax 120
    setprop debug.gr.swapinterval 0
    setprop cpu.fps 65
    setprop gpu.fps 65
    setprop ro.vendor.dfps.enable false
    setprop ro.vendor.smart_dfps.enable false
    setprop ro.vendor.display.default_fps 65
    setprop persist.vendor.dfps.level 65
## FPS stabilizer
    setprop debug.sf.showupdates 0
    setprop debug.sf.showcpu 0
    setprop debug.sf.showbackground 0
    setprop debug.sf.showfps 0
## Grpahics tweaks
    setprop debug.enabletr true
    setprop debug.overlayui.enable 1
    setprop dev.pm.dyn_samplingrate 1
    setprop ro.vendor.qti.sys.fw.bservice_enable true
    setprop persist.vendor.ssr.enable_ramdumps 0
    setprop debug.sf.no_hw_vsync 0
    setprop debug.hwui.use_buffer_age false
    setprop hwui.use_gpu_pixel_buffers true
    setprop ro.bq.gpu_to_cpu_unsupported 1
    setprop debugtool.anrhistory 0
    setprop debug.hwui.disable_vsync true
    setprop debug.sf.disable_backpressure 1
    setprop debug.gralloc.gfx_ubwc_disable 0
    setprop ro.surface_flinger.protected_contents true
    setprop ro.surface_flinger.use_color_management true
    setprop ro.surface_flinger.running_without_sync_framework true
    setprop persist.hwc.enable_vds 1
    setprop ro.surface_flinger.has_HDR_display true
    setprop ro.surface_flinger.has_wide_color_display true
    setprop ro.hwui.use_opengl true
    setprop debug.hwui.renderer opengl
## Render dirty region
    setprop DEBUG_DIRTY_REGION false
    setprop debug.hwui.profile false
    setprop debug.hwui.profile.maxframes 65
    setprop debug.hwui.skip_empty_damage true
    setprop debug.hwui.use_partial_updates true
    setprop debug.hwui.use_gpu_pixel_buffers false
    setprop debug.hwui.render_dirty_regions false
    setprop debug.hwui.show_dirty_regions false
    setprop debug.hwui.render_dirty_regions false
    setprop debug.hwui.use_buffer_age false
## Battery save 1
    setprop pm.sleep_mode 3
    setprop power_supply.wakeup enable
    setprop ro.mot.eri.losalert.delay 1000
    setprop ro.vold.umsdirtyratio 20
    setprop ro.config.hw_quickpoweron true
    setprop ro.config.hw_power_saving 1
    setprop power.saving.mode 1
    setprop persist.radio.add_power_save 1
    setprop ro.ril.sensor.sleep.control 1
## Sensor Sleep Control
    setprop ro.ril.sensor.sleep.control 1
    setprop ro.wifi.hotspotUI 1
    setprop ro.tether.denied false
## Disable Sending Usage Data
    setprop ro.config.nocheckin 1
## Disable Strict Mode Checking
    setprop persist.android.strictmode 0
    setprop persist.sys.strictmode.disable 1
    setprop persist.sys.strictmode.visual 0
    setprop persist.sys.strictmode.disable true
## Bluetooth quality increase
    setprop persist.bt.enableAptXHD true
    setprop persist.service.btui.use_aptx 1
    setprop persist.bluetooth.disableabsvol true
    setprop persist.vendor.btstack.enable.splita2dp true
    setprop persist.vendor.btstack.aac_frm_ctl.enabled true
    setprop persist.vendor.btstack.enable.twsplus true
    setprop persist.vendor.btstack.connect.peer_earbud true
    setprop persist.vendor.btstack.enable.twsplussho true
    setprop ro.bluetooth.emb_wp_mode false
    setprop ro.bluetooth.wipower false
    setprop ro.bluetooth.remote.autoconnect true
    setprop ro.bluetooth.request.master true
    setprop ro.vendor.bluetooth.wipower false
    setprop persistent.bt.a2dp_offload_cap sbc-aptx-aptXHD
    setprop ro.bluetooth.hfp.ver 1.6
    setprop persist.bt.a2dp.aptx_hd_disable false
## Scrolling Responsiveness
    setprop windowsmgr.max_events_per_sec 90
    setprop persist.cust.tel.eons 1
    setprop ro.min_pointer_dur 8
    setprop ro.max.fling_velocity 12000
    setprop ro.min.fling_velocity 8000
## RIL Wakelock Optimization
    setprop ro.ril.wake_lock_timeout 10000
## Enable Fast Dormancy
    setprop ro.fast.dormancy 1
    setprop ro.semc.enable.fast_dormancy true
    setprop ro.config.hw_fast_dormancy 1
    setprop ro.ril.fast.dormancy.rule 1
## Dalvik Virtual Machine Tweaks
    setprop dalvik.vm.checkjni false
    setprop dalvik.vm.dexopt-data-only 1
    setprop dalvik.vm.verify-bytecode false
    setprop dalvik.vm.heapstartsize 16m
    setprop dalvik.vm.heapminfree 16m
    setprop dalvik.vm.heapmaxfree 32m
    setprop dalvik.vm.heaptargetutilization 0.70
    setprop dalvik.vm.dexopt-flags m=y,v=n,o=y,u=y
    setprop ro.config.dha_tunnable=1
    setprop ro.slmk.dha_lmk_scale=0.272
    setprop ro.slmk.2nd.dha_lmk_scale=0.272
    setprop ro.slmk.dha_th_rate=3.0
    setprop persist.sys.dalvik.hyperthreading true
    setprop persist.sys.dalvik.multithread true
    setprop ro.config.pageboost.io_prefetch.enabled true
    setprop ro.config.pageboost.io_prefetch.level 3
    setprop iorapd.readahead.enable true
    setprop dalvik.gc.type precise
    setprop dalvik.vm.dex2oat-threads 8
    setprop dalvik.vm.execution-mode int:jit
    setprop dalvik.vm.verify-bytecode false
    setprop dalvik.vm.lockprof.threshold 250
    setprop ro.kernel.android.checkjni false
    setprop dalvik.vm.jmiopts forcecopy
    setprop dalvik.vm.stack-trace-file /data/anr/traces.txt
    setprop dalvik.vm.check-dex-sum false
    setprop dalvik.vm.dex2oat-filter speed
    setprop dalvik.vm.image-dex2oat-filter speed
    setprop dalvik.vm.appimageformat lz4
    setprop dalvik.vm.dex2oat64.enabled true
    setprop dalvik.vm.dex2oat-filter speed
    setprop pm.dexopt.first-boot speed
    setprop pm.dexopt.boot speed
    setprop pm.dexopt.boot-after-ota speed
    setprop pm.dexopt.post-boot extract
    setprop pm.dexopt.install speed
    setprop pm.dexopt.nsys-library speed
    setprop pm.dexopt.core-app speed
    setprop pm.dexopt.bg-dexopt speed
## Disable vsync for CPU rendered apps
    setprop debug.cpurend.vsync false
## System tweak
    setprop ro.config.hw.logsystem.send 0
## Signal Boost
    setprop bt.max.hfpclient.connections 1
## SQL Tweaks
    setprop debug.sqlite.journalmode WAL
    setprop debug.sqlite.syncmode 1
## ART compilation
    setprop vm.scan_unevictable_pages 0
    setprop dalvik.vm.check-dex-sum false
## RmNet Data
    setprop persist.rmnet.data.enable true
    setprop persist.data.wda.enable true
    setprop persist.data.df.dev_name rmnet_usb0
## Faster App launch
    setprop fs.lease-break-time 10
    setprop vold.post_fs_data_done 1
## Disable LMK debugging
    setprop persist.sys.lmk.reportkills false
    setprop sys.lmk.reportkills false
    setprop ro.lmk.debug false
    setprop ro.lmk.log_stats false
## Disable traced
    setprop persist.traced.enable 0
    setprop persist.traced_perf.enable 0
## Disable vidc debugging
    setprop vendor.vidc.debug.level 0
    setprop vidc.debug.level 0
## Zram
    setprop ro.vendor.qti.config.zram true
## SafetyNET Fix
    setprop ro.knox.enhance.zygote.aslr 1
    setprop ro.securestorage.knox false
    setprop ro.securestorage.support false
## Dalvik JIT for Dex
    setprop debug.usejit true
## MEDIA tweaks
    setprop mm.enable.smoothstreaming true
    setprop ro.media.recorder-max-base-layer-fps 65

on property:sys.boot_completed=1
      resetprop ro.build.selinux 1
